/********************************************
                Typhography 
********************************************/
@font-face {
    font-family: shurjo;
    src: url(../fonts/solaimanlipi_04_07_05-webfont.woff);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/********************************************
                normalize 
********************************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    color: #000;
    background-color: #ffffff;
    font-family: shurjo;
}
ul,li{
    list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
a:focus,
a:hover,
a:active{
    outline: none;
    color: #0573E6;
    transition: 0.15s;
}
.container{
    width: 95%;
    max-width: 1400px;
    margin: auto;
}
img{
    width: 100%;
    max-width: 100%;
}
.image_zoom:hover img{
   transform:scale(1.02);
}
.big_title {
	font-size: 22px;
	padding-bottom: 10px;
}
.title {
	font-size: 16px;
	padding-bottom: 10px;
}
p,time{
    color: #575757;
}

/********************************************
                 header_area_start 
********************************************/
.header_top i {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_top i:hover{
    background-color: #F7F7F7;
    border-radius: 50%;
}
.hum_search_inner {
	display: flex;
	font-size: 20px;
}
.humburger_icon{
	font-size: 25px;
}
.hum_search_time {
	color: #575757;
}
.header_top{
    display: flex;
    justify-content: space-between;
}
.notification_icon{
    font-size: 25px;
    display: flex;
    align-items: center;
}
.login_notification_area{
    display: flex;
}
.login_button a {
	color: #0573e6;
	padding: 2px 21px;
	font-size: 19px;
	font-weight: bold;
	border: 1px solid #d9ced0;
	opacity: 0.7;
	justify-content: center;
	display: flex;
	align-items: center;
	transition: 0.3s;
	font-family: 'Roboto', sans-serif;
}
.login_button a:hover {
	background-color: #E6DCDC;
}
.language_edition {
	display: flex;
	justify-content: end;
	font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.header_right_language {
	padding-right: 8px;
}
.header_right_language a {
	font-weight: bold;
	color: #121212;
}
.header_right_language a:hover {
	text-decoration: underline;
}
.header_right_edition {
	color: #575757;
}


/* navbar_area_start */
.nav_area {
	border-top: 1px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
}
.nav_list {
	display: flex;
	justify-content: center;
}
.nav_list li a {
	/* color: #000000; */
	padding: 10px 15px;
	font-weight: bold;
	transition: .15s;
	display: inline-block;
}
/* .nav_list li a:hover {
	color: #0573e6;
	
} */
/* navbar_area_end */

/********************************************
                 header_area_end
********************************************/

/********************************************
                 main_area_end
********************************************/
.main_area_start{
    padding-top: 20px;
}
.main_grid_container {
	display: grid;
	grid-gap: 32px;
	grid-template-columns: repeat(3, 1fr) 300px;
	grid-template-rows: repeat(4, 265px 205px 155px 155px);
}

.item_list1{
    grid-column: span 2;
	overflow: hidden;
}
.item_list_a{
	display: flex;
}
/* .main_grid_content{
    width: 100%; 
} */
.main_grid_content p {
	padding-bottom: 15px;
}
/* .main_grid_image{
    width: 100%;
} */
.main_grid_image span {
	font-size: 11px;
	color: #575757;
}
/********************************************
                 main_area_end
********************************************/